<%= simple_form_for(@instance) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :unit %>
    <%= f.association :ident %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
