<h1>Listing instances</h1>

<table class="table table-striped table-bordered">
  <tr>
    <th>Unit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @myinstances.each do |instance| %>
  <tr>
    <td><%= instance.unit.name %></td>
    
    <td><%= link_to 'Show', instance %></td>
    <td><%= link_to 'Edit', edit_instance_path(instance) %></td>
    <td><%= link_to 'Destroy', instance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Instance', new_instance_path %>
