<p id="notice"><%= notice %></p>

<p>
  <b>Unit:</b>
  <%= @instance.unit %>
</p>

<p>
  <b>User:</b>
  <%= @instance.user %>
</p>


<%= link_to 'Edit', edit_instance_path(@instance) %> |
<%= link_to 'Back', instances_path %>
