<p id="notice"><%= notice %></p>

<p>
  <b>Unit:</b>
  <%= @instance.unit.name %>
  <div>
  	<%= render 'guests/form' %>
  </div>
   <div>
  	<%= render 'guests/index' %>
  </div>
</p>




<%= link_to 'Edit', edit_instance_path(@instance) %> |
<%= link_to 'Back', instances_path %>
