<p id="notice"><%= notice %></p>

<p>
  <b>Guest name:</b>
  <%= @guest.guest_name %>
</p>

<p>
  <b>Arrival date:</b>
  <%= @guest.arrival_date %>
</p>

<p>
  <b>Stay length:</b>
  <%= @guest.stay_length %>
</p>

<p>
  <b>Departure date:</b>
  <%= @guest.departure_date %>
</p>


<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>
