<% unless user_signed_in? %>
<div class="center hero-unit">
    <h1>Welcome! </h1>
    <p>to <%= link_to 'Send Them IN',  "#" %>
     </p>

            <p>
            <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
        </p>
</div>
<% end %>
<% if user_signed_in? %>
<%= render 'idents/index' %>
<% if can? :read, Customer %>
<%= render 'customers/index' %>
<% end %>
<%= render 'communities/index' %>
<% end %>
