<%= simple_form_for(@unit) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :address %>
    <%= f.input :name %>
    <%= f.association :community %>
    <%= f.input :occupied %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
