<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @unit.address %>
</p>

<p>
  <b>Name:</b>
  <%= @unit.name %>
</p>

<p>
  <b>Community:</b>
  <%= @unit.community %>
</p>


<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
