<h1>Listing communities</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Customer</th>
    <th>Website</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @communities.each do |community| %>
  <tr>
    <td><%= community.name %></td>
    <td><%= community.address %></td>
    <td><%= community.phone %></td>
    <td><%= community.customer.name %></td>
    <td><%= community.website %></td>
    <td><%= community.image %></td>
    <td><%= link_to 'Show', community %></td>
    <td><%= link_to 'Edit', edit_community_path(community) %></td>
    <td><%= link_to 'Destroy', community, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Community', new_community_path %>
