<h1>Listing communities</h1>


<!-- <table class="table table-striped table-bordered">
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Customer</th>
    <th>Website</th>
    <th></th>
    <th></th>
    <th></th>
  </tr> -->

<% @communities.each do |community| %>
 <!--  <tr> -->
    <div class="fluid-row">
        <div class="span3">
            <div class="well inline">
                <%= image_tag community.image(:medium) %>
                    <h3 align="center"><%= link_to community.name, community %></h3>
            </div>
        </div>
    </div>
    <!-- <td><%= community.address %></td>
    <td><%= community.phone %></td>
    <td><%= community.customer.name %></td>
    <td><%= community.website %></td>
    <td><%= link_to 'Show', community %></td>
    <td><%= link_to 'Edit', edit_community_path(community) %></td>
    <td><%= link_to 'Destroy', community, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr> -->
<% end %>
<!-- </table> -->
<div style="clear:both;"></div>
<br />
<%= link_to 'New Community', new_community_path %>
